{%extends 'base.html' %}


{%block content %}

<style>
    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>


{% if user.is_authenticated %}

<header style="background: rgb(51,155,158)">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class="site-heading my-4 mt-3 text-white">Welcome {{user.username}} </h3>
                    <p class="text-light"> Edit your post here! &nbsp;
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>


<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
        	{%if posts %}
	            {% for post in posts %}
	            <div class="card mb-4">
	                <div class="card-body">
	                    <h2 class="card-title">{{ post.title }}</h2>
	                    <p class="card-text text-muted h6"> {{ post.date_created}}  &nbsp; ({%if post.status %} {{status.1}} {%else%} {{status.0}} {% endif %}) </p> 
	                    <p class="card-text">{{post.body|slice:":200" }}</p> 
	                    <a href="{%url 'update_blog' post.slug %}" class="btn btn-primary">Edit &rarr;</a>
	                </div>
	            </div>
	            {% endfor %}
            {%else%}
            <p> Nothing here!
            {% endif %}

        </div>
        {% block sidebar %} {% include 'blog/filterbar.html' %} {% endblock sidebar %}
    </div>
</div>

	{% else %}
		<p>
			Please Sign In to write an article.
		</p>
	{% endif %}
{%endblock%}
