{%extends 'base.html' %}


{%block content %}
<style>
	body {
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        background: #E3E7EB
    }

	.card {
		
		width: 35%;
		margin-left: 300px;
		box-shadow: 0 16px 48px #E3E7EB;
	}

	.shift {
		margin-left: 70px;
		margin-top: 20px;
	}
	
</style>
	{% if user.is_authenticated %}
		<p>
			Welcome <b>{{user.username}}</b> to the Blog Admin!
		</p>



		<h2>CREATE A POST</h2>
		<form id="form" method="post" action="{%url 'create_post'%}">
			{% csrf_token %}
			<div class="col-md-8 shift">
			{%for field in form%}
				<p>
					
					{{ field }}
					{% for error in field.errors %}
						<p style="color: red">{{ errror }}</p>
					{% endfor %}
				</p>
			{%endfor%}

			{{form.errors}}
		</div>

		</form>
		<button onclick="beforeSave(); ">Save</button>
		 <button onclick="beforePublish(); ">Publish</button>


			

	{% endif %}


	  <script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js">
    </script>

	<script type="text/javascript">
	beforeSave = function(){
                $("#publish").val(0)
                $("#form").submit();            
    }
    beforePublish = function(){
                $("#publish").val(1)
                $("#form").submit();            
    }

</script>

 
{%endblock%}