{%extends 'base.html' %}


{%block content%}

<style>
	body {
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        background: #E3E7EB
    }

	.card {
		
		width: 35%;
		margin-left: 300px;
		box-shadow: 0 16px 48px #E3E7EB;
	}

	.shift {
		margin-left: 70px;
		margin-top: 20px;
	}
	
</style>

<legend><center> Change Password</center></legend>
<div class="card">
	<div class="form-group">

<form id="form" class="form" method="post" action="{%url 'password_change'%}">
	{% csrf_token %}
	

	<div class="col-md-8 shift">
		<p>
			<input type="password" class="form-control" placeholder="Enter New password" name="new_password" id="pass1">
		</p>
		<p>
			<input type="password" class="form-control" placeholder="Confirm password" id="pass2">
		</p>
	</div>

</form>

		<button class="btn btn-primary" onclick="pre_process(); "> CHANGE </button>



</div>
</div>

		{%if message%}
		<div> {{message}} </div>
		{%endif%}

 <script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js">
    </script>

	<script type="text/javascript">
	pre_process = function(){
		pass1 = $('#pass1').val();
		pass2 = $('#pass2').val();
		if(pass1 === pass2){
			$('#form').submit();
		}else{
			alert('The two passwords should be the same!');
		}
	}
</script>

{%endblock%}
