{%extends 'base.html' %}


{%block content%}
<style>
	body {
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        background: #E3E7EB
    }

	.card {
		
		width: 35%;
		margin-left: 300px;
		box-shadow: 0 16px 48px #E3E7EB;
	}

	.shift {
		margin-left: 70px;
		margin-top: 20px;
	}
	
</style>

<header style="background: rgb(51,155,158)">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class="site-heading my-4 mt-3 text-white">Welcome </h3>
                    <p class="text-light"> Sign In to Continue  &nbsp;
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>

<legend><center>SIGN IN</center></legend>
<div class="card">
	<div class="form-group">
<form method="post" action="{%url 'blog_signin'%}">
	{% csrf_token %}
<div class="col-md-8 shift">
	{%for field in form%}
		<p>
			{{ field.label_tag }}
			{{ field }}
			{% for error in field.errors %}
				<p style="color: red">{{ errror }}</p>
			{% endfor %}
		</p>
	{%endfor%}

	{{form.errors}}
</div>

	<button class="btn btn-primary" type="submit"> Sign in </button>



</form>
</div>

<div>
	<p>Do not have an account? <a href="{%url 'blog_signup'%}">Sign up!</a></p>
	</div>
</div>


{%endblock%}
